{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				{% for etablissement in etablissements %}
					<a href="{{ path('etablissement_show', {'id': etablissement.id}) }}">
						<h1>{{etablissement.nom}}</h1>
					</a>
				{% endfor %}
			</div>
		</div>
	{% endblock %}
